[submodule "SDK/PVR"]
	path = SDK/PVR
	url = https://github.com/mbucchia/PVR.git
[submodule "SDK/Varjo"]
	path = SDK/Varjo
	url = https://github.com/mbucchia/Varjo-SDK.git
[submodule "external/OpenXR-Eye-Trackers"]
	path = external/OpenXR-Eye-Trackers
	url = https://github.com/mbucchia/OpenXR-Eye-Trackers.git
[submodule "SDK/Omnicept"]
	path = SDK/Omnicept
	url = https://github.com/mbucchia/Omnicept-SDK.git
[submodule "external/OpenXR-MixedReality"]
	path = external/OpenXR-MixedReality
	url = https://github.com/mbucchia/OpenXR-MixedReality.git
[submodule "tests/directx11_hellovr"]
	path = tests/directx11_hellovr
	url = https://github.com/mbucchia/directx11_hellovr.git
[submodule "external/oscpack"]
	path = external/oscpack
	url = https://github.com/RossBencina/oscpack.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
