[submodule "external/PVR"]
	path = external/PVR
	url = https://github.com/mbucchia/PVR.git
[submodule "external/Varjo"]
	path = external/Varjo
	url = https://github.com/mbucchia/Varjo-SDK.git
[submodule "external/OpenXR-MixedReality"]
	path = external/OpenXR-MixedReality
	url = https://github.com/mbucchia/OpenXR-MixedReality.git
[submodule "tests/directx11_hellovr"]
	path = tests/directx11_hellovr
	url = https://github.com/mbucchia/directx11_hellovr.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/OpenXR-SDK"]
	path = external/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
