[submodule "SDK/PVR"]
	path = external/PVR
	url = https://github.com/mbucchia/PVR.git
[submodule "SDK/Varjo"]
	path = external/Varjo
	url = https://github.com/mbucchia/Varjo-SDK.git
[submodule "tests/directx11_hellovr"]
	path = tests/directx11_hellovr
	url = https://github.com/mbucchia/directx11_hellovr.git
[submodule "external/oscpack"]
	path = external/oscpack
	url = https://github.com/RossBencina/oscpack.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/openvr"]
	path = external/openvr
	url = https://github.com/ValveSoftware/openvr.git
